<div class="sidebar">
	<div class="box-content">
		<h3 class="box-content toggled">Tài Khoản</h3>
		<ul class="list-unstyled">
			<li><a href="/account/information">Thông Tin Tài Khoản</a></li>
			<li><a href="/account/address">Địa Chỉ</a></li>
			<li><a href="/account/favorite">Sản Phảm Yêu Thich</a></li>
			<li><a href="/account/change-password">Đổi Mật khẩu</a></li>
		</ul>
		<h3 class="box-content toggled">Đơn Hàng</h3>
		<ul class="list-unstyled">
		<li><a href="">Lịch Sử Mua</a></li>
	</ul>
	</div>
</div>