<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mutilshop</title>
</head>
<body>
	<div
		class="main-category left-column-main-category hidden-sm hidden-xs">
		<div
			class="vertical-category-wrapper navbar-collapse navbar-ex2-collapse">
			<div class="vertical-category" data-more=More&nbsp;Categories
				data-less=Less&nbsp;Categories>
				<ul class="category-list nav navbar-nav">
					<th:block th:each="item : ${categories}">
						<li class="menu-item" th:classappend="${!item.listMenuOne.empty}"><a
							th:href="@{|/danh-sach/${item.Namesearch}|}"> <span
								class="category-img hidden-sm hidden-xs"><img
									th:src="@{|/assets/images/logo/${item.logo}|}" /></span>
								[[${item.name}]]
						</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>