<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/_form :: dynamic(
				~{::main},
				~{::#javascriptResource},
				~{::#cssResource}
				)}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block id="cssResource">

	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script
		src="/assets/admin/global/vendor/datatables.net/jquery.dataTables599c.js?v4.0.2"></script>
	<script
		src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="/assets/admin/angular/angular-datatables.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
	
	<!-- Page -->
	<link rel="stylesheet"
		href="/assets/admin/base/assets/examples/css/dashboard/ecommerce.min599c.css?v4.0.2">

		
</th:block>
</head>
<style>
.alert {


  
  
  -webkit-animation:  5s ;
  animation: notify 5s ;
  }
  @keyframes notify {
	0% {transform: scaleX(0);}
	10% {transform: scaleX(1);}
	13% {transform: scale(1.1);}
	16% {transform: scale(1);}
	55% {transform: scaleX(1);}
  
  }
  </style>
<body>
	<main ng-app="statistical-revenue-app"
	ng-controller="statistical-revenue-ctrl">
	

 
		<div class="page">

			<div class="alert alert-success alert-dismissible  "   >
				<div class="text">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Success!</strong> Indicates a successful or positive action.
			  </div></div>
			

			<div class="page-header"  >
				<h1 class="page-title font-size-26 font-weight-100">Tổng Quan</h1>
			</div>

			<div class="page-content container"  >
				<div class="row">
					<!-- First Row -->
					<div class="col-xl-3 col-md-6 info-panel">
						<div class="card card-shadow">
							<div class="card-block bg-white p-20">
								<button type="button"
									class="btn btn-floating btn-sm btn-warning">
									<i class="icon wb-shopping-cart"></i>
								</button>
								<span class="ml-15 font-weight-400">Đơn Hàng</span>
								<div class="content-text text-center mb-0">
									<i class="text-danger icon wb-triangle-up font-size-20"> </i> <span
										class="font-size-40 font-weight-100">399</span>
									<p class="blue-grey-400 font-weight-100 m-0">+45% From
										previous month</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 info-panel">
						<div class="card card-shadow">
							<div class="card-block bg-white p-20">
								<button type="button" class="btn btn-floating btn-sm btn-danger">
									<i class="icon fa-dollar"></i>
								</button>
								<span class="ml-15 font-weight-400">Số Tiền</span>
								<div class="content-text text-center mb-0">
									<i class="text-success icon wb-triangle-down font-size-20">
									</i> <span class="font-size-40 font-weight-100">$18,628</span>
									<p class="blue-grey-400 font-weight-100 m-0">+45% From
										previous month</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 info-panel">
						<div class="card card-shadow">
							<div class="card-block bg-white p-20">
								<button type="button"
									class="btn btn-floating btn-sm btn-success">
									<i class="icon wb-eye"></i>
								</button>
								<span class="ml-15 font-weight-400">Lượt Xem</span>
								<div class="content-text text-center mb-0">
									<i class="text-danger icon wb-triangle-up font-size-20"> </i> <span
										class="font-size-40 font-weight-100">23,456</span>
									<p class="blue-grey-400 font-weight-100 m-0">+25% From
										previous month</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 info-panel">
						<div class="card card-shadow">
							<div class="card-block bg-white p-20">
								<button type="button"
									class="btn btn-floating btn-sm btn-primary">
									<i class="icon wb-user"></i>
								</button>
								<span class="ml-15 font-weight-400">Khách Hàng</span>
								<div class="content-text text-center mb-0">
									<i class="text-danger icon wb-triangle-up font-size-20"> </i> <span
										class="font-size-40 font-weight-100">4,367</span>
									<p class="blue-grey-400 font-weight-100 m-0">+25% From
										previous month</p>
								</div>
							</div>
						</div>
					</div>
					<!-- End First Row -->

					<!-- second Row -->
					<!-- <div class="col-12 " id="ecommerceChartView">
						<div class="card card-shadow">
							<div class="card-header card-header-transparent py-20">
								<div class="btn-group dropdown">
									<a id="chartBar" href="#" class="text-body dropdown-toggle blue-grey-700"
										data-toggle="dropdown">BIỂU ĐỒ CỘT</a>
									<div class="dropdown-menu animate" role="menu">
										<a id="chartLine" class="dropdown-item" onclick="changeChart()" href="#" role="menuitem">BIỂU ĐỒ ĐƯỜNG</a>
									</div>
								</div>
								<ul class="nav nav-pills nav-pills-rounded chart-action">
									<li class="nav-item"><a class="active nav-link"
										data-toggle="tab" ng-click="statisticalByDay()" href="#scoreLineToDay">Ngày</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										ng-click="statisticalByMonth()" href="#">Tháng</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										ng-click="statisticalByYear()" href="#scoreLineToMonth">Năm</a></li>
								</ul>
							</div>
							
							<div class="widget-content tab-content bg-white p-20">
								<canvas id="bar-chart-grouped-day" width="800" height="450"></canvas>
								<canvas id="bar-chart-grouped-month" width="800" height="450"></canvas>
								<canvas id="bar-chart-grouped-year" width="800" height="450"></canvas>
							</div>
						</div>
						
					</div> -->
					<!-- End Second Row -->

					<!-- Third Row -->
					<!-- Third Left -->
					<div class="col-lg-8" id="ecommerceRecentOrder">
						<div class="card card-shadow table-row">
							<div class="card-header card-header-transparent py-20">
								<div class="btn-group dropdown">
									<a href="#" class="text-body  blue-grey-700"
										data-toggle="dropdown">Gần Đây</a>
									
								</div>
							</div>
							<div class="card-block bg-white table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Mã Sản Phẩm</th>
											<th>Ảnh</th>
											<th>Tên Sản Phẩm</th>
											<th>Khách Hàng</th>
											<th>Ngày Mua</th>
											<th>Trạng Thái</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><img
												src="/assets/admin/base/assets/examples/images/products/imac.png"
												alt="iMac" /></td>
											<td>iMac</td>
											<td>Russell</td>
											<td>22/08/2018</td>
											<td><span class="badge badge-success font-weight-100">Paid</span>
											</td>
											<td>#98BC85SD84</td>
										</tr>
										<tr>
											<td><img
												src="/assets/admin/base/assets/examples/images/products/iphone.png"
												alt="iPhone" /></td>
											<td>iPhone</td>
											<td>Carol</td>
											<td>15/07/2018</td>
											<td><span
												class="/assets/admin/base/badge badge-warning font-weight-100">Pending</span>
											</td>
											<td>#98SA3C9SC</td>
										</tr>
										<tr>
											<td><img
												src="/assets/admin/base/assets/examples/images/products/applewatch.png"
												alt="apple_watch" /></td>
											<td>apple Watch</td>
											<td>Austin Pena</td>
											<td>10/07/2018</td>
											<td><span
												class="/assets/admin/base/badge badge-success font-weight-100">Paid</span>
											</td>
											<td>#98BC85SD84</td>
										</tr>
										<tr>
											<td><img
												src="/assets/admin/base/assets/examples/images/products/macmouse.png"
												alt="mac_mouse" /></td>
											<td>mac Mouse</td>
											<td>Randy</td>
											<td>22/04/2018</td>
											<td><span class="badge badge-default font-weight-100">Failed</span>
											</td>
											<td>#98SA3C9SC</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End Third Left -->

					<!-- Third Right -->
					<div class="col-lg-4" id="ecommerceRevenue">
						<div class="card card-shadow text-center pt-10">
							<h3
								class="card-header card-header-transparent blue-grey-700 font-size-14 mt-0">Doanh Thu</h3>
							<div class="card-block bg-white">
								<div class="ct-chart barChart"></div>
								<div class="pie-view row">
									<div class="col-6 pie-left text-center">
										<h5 class="blue-grey-500 font-size-14 font-weight-100">GROS
											REVENUE</h5>
										<p class="font-size-20 blue-grey-700">9,362,74</p>
										<div class="pie-progress pie-progress-sm"
											data-plugin="pieProgress" data-valuemax="100"
											data-valuemin="0" data-barcolor="#a57afa" data-size="100"
											data-barsize="4" data-goal="60" aria-valuenow="60"
											role="progressbar">
											<span class="pie-progress-number">60%</span>
										</div>
									</div>
									<div class="col-6 pie-right text-center">
										<h5 class="blue-grey-500 font-size-14 font-weight-100">NET
											REVENUE</h5>
										<p class="font-size-20 blue-grey-700">6,734,58</p>
										<div class="pie-progress pie-progress-sm"
											data-plugin="pieProgress" data-valuemax="100"
											data-valuemin="0" data-barcolor="#28c0de" data-size="100"
											data-barsize="4" data-goal="78" aria-valuenow="78"
											role="progressbar">
											<span class="pie-progress-number">78%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Third Right -->
					<!-- End Third Row -->
				</div>
			</div>
		</div>
	</main>
</body>
<th:block id="javascriptResource">
	<!-- Plugins For This Page -->
	<script
		src="/assets/admin/global/vendor/chartist/chartist.min599c.js?v4.0.2"></script>
	<script
		src="/assets/admin/global/vendor/aspieprogress/jquery-asPieProgress.min599c.js?v4.0.2"></script>
	<script
		src="/assets/admin/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min599c.js?v4.0.2"></script>
	<script
		src="/assets/admin/global/js/Plugin/aspieprogress.min599c.js?v4.0.2"></script>
	<script
		src="/assets/admin/base/assets/examples/js/dashboard/ecommerce.min599c.js?v4.0.2"></script>
		
			<script
				src="/assets/admin/base/assets/examples/js/tables/datatable.min599c.js?v4.0.2"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<script
				src="/assets/admin/angular/statisticalRevenue/statistical-revenue-ctrl.js"></script>
		
	<!-- Google Analytics -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'../../../www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-65522665-1', 'auto');
		ga('send', 'pageview');
	</script>
</th:block>
</html>