<div class="box all-products mt-30">
	<div class="box-heading">
		<div class="box-content bestseller">
			<div class="page-title toggled">
				<h3>Sản phẩm bán chạy</h3>
			</div>
			<div class="block_box row">
				<div id="bestseller-carousel"
					class="box-product  product-carousel  clearfix" data-items="4">
					<div class="product-layout  col-xs-12">
						<div class="product-thumb transition clearfix">
							<div class="image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/7-80x80.jpg"
									alt="Dell Laptop" title="Dell Laptop" class="img-responsive" />
									<img class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/1-80x80.jpg"
									title="Dell Laptop" alt="Dell Laptop" />
								</a>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
							<div class="thumb-description clearfix">
								<div class="caption">
									<h4 class="product-title">
										<a href="">Dell Laptop</a>
									</h4>
									<p class="price">$122.00</p>
									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="product-layout  col-xs-12">
						<div class="product-thumb transition clearfix">
							<div class="image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/14-80x80.jpg"
									alt="Sony Headphone" title="Sony Headphone"
									class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/1-80x80.jpg"
									title="Sony Headphone" alt="Sony Headphone" />
								</a>
								<div class="sale-text">
									<span class="section-sale">On Sale!</span>
								</div>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
							<div class="thumb-description clearfix">
								<div class="caption">
									<h4 class="product-title">
										<a href="">Sony Headphone</a>
									</h4>
									<p class="price">
										<span class="price-new">$98.00</span><span class="price-old">$242.00</span>
									</p>
									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="product-layout  col-xs-12">
						<div class="product-thumb transition clearfix">
							<div class="image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/11-80x80.jpg"
									alt="Microwaves" title="Microwaves" class="img-responsive" />
									<img class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/10-80x80.jpg"
									title="Microwaves" alt="Microwaves" />
								</a>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
							<div class="thumb-description clearfix">
								<div class="caption">
									<h4 class="product-title">
										<a href="">Microwaves</a>
									</h4>
									<p class="price">$122.00</p>
									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="product-layout  col-xs-12">
						<div class="product-thumb transition clearfix">
							<div class="image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/5-80x80.jpg" alt="IPad"
									title="IPad" class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/9-80x80.jpg" title="IPad"
									alt="IPad" />
								</a>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
							<div class="thumb-description clearfix">
								<div class="caption">
									<h4 class="product-title">
										<a href="">IPad</a>
									</h4>
									<p class="price">$123.20</p>
									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>