<div class="special-countdown left-vertical-product">
	<div class="countdown-carousel list-products">
		<div class="page-title">
			<h3>Deal of the day</h3>
		</div>
		<div class="countdown-inner">
			<div id="special-count"
				class="box-product  special-count-carousel  clearfix">
				<div class="product-layout  col-xs-12">
					<div class="product-thumb transition">
						<div class="image countdown-images">
							<div class="special-image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/10-266x266.jpg"
									alt="Sony TV" title="Sony TV" class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/9-266x266.jpg"
									title="Sony TV" alt="Sony TV" />
								</a>
								<div class="sale-text">
									<span class="section-sale">On Sale!</span>
								</div>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="thumb-description">
							<div class="caption">
								<div class="desc-inner">
									<h4 class="product-title">
										<a href="">Sony TV</a>
									</h4>
									<div class="price">
										<span class="price-new">$116.00</span> <span class="price-old">$122.00</span>
										<span class="price-tax">Ex Tax: $95.00</span>
									</div>

									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
									<p class="description hidden">Canon's press material for
										the EOS 5D states that it 'defines (a) new D-SLR category',
										while we're not typically too concerned with marketing talk
										this particular statement is c..</p>
								</div>
							</div>
							<div id="countdown_30" class="item-countdown aa"
								data-date="2022-01-31"></div>
						</div>
						<script type="text/javascript">
							jQuery(document)
									.ready(
											function($) {
												$(".item-countdown")
														.each(
																function() {
																	var date = $(
																			this)
																			.data(
																					'date');
																	$(this)
																			.lofCountDown(
																					{
																						TargetDate : date,
																						DisplayFormat : "<div>%%D%% <span>Days</span></div><div>%%H%% <span>Hours</span></div><div>%%M%% <span>Min</span></div><div>%%S%% <span>Sec</span></div>"
																					});
																});
											});
						</script>
					</div>
				</div>
				<div class="product-layout  col-xs-12">
					<div class="product-thumb transition">
						<div class="image countdown-images">
							<div class="special-image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/14-266x266.jpg"
									alt="Sony Headphone" title="Sony Headphone"
									class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/1-266x266.jpg"
									title="Sony Headphone" alt="Sony Headphone" />
								</a>
								<div class="sale-text">
									<span class="section-sale">On Sale!</span>
								</div>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="thumb-description">
							<div class="caption">
								<div class="desc-inner">
									<h4 class="product-title">
										<a href="">Sony Headphone</a>
									</h4>
									<div class="price">
										<span class="price-new">$98.00</span> <span class="price-old">$242.00</span>
										<span class="price-tax">Ex Tax: $80.00</span>
									</div>

									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
									<p class="description hidden">Imagine the advantages of
										going big without slowing down. The big 19&quot; 941BW monitor
										combines wide aspect ratio with fast pixel response time, for
										bigger images, more room t..</p>
								</div>
							</div>
							<div id="countdown_33" class="item-countdown aa"
								data-date="2022-02-02"></div>
						</div>
						<script type="text/javascript">
							jQuery(document)
									.ready(
											function($) {
												$(".item-countdown")
														.each(
																function() {
																	var date = $(
																			this)
																			.data(
																					'date');
																	$(this)
																			.lofCountDown(
																					{
																						TargetDate : date,
																						DisplayFormat : "<div>%%D%% <span>Days</span></div><div>%%H%% <span>Hours</span></div><div>%%M%% <span>Min</span></div><div>%%S%% <span>Sec</span></div>"
																					});
																});
											});
						</script>
					</div>
				</div>
				<div class="product-layout  col-xs-12">
					<div class="product-thumb transition">
						<div class="image countdown-images">
							<div class="special-image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/3-266x266.jpg"
									alt="Samsung TV" title="Samsung TV" class="img-responsive" />
									<img class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/9-266x266.jpg"
									title="Samsung TV" alt="Samsung TV" />
								</a>
								<div class="sale-text">
									<span class="section-sale">On Sale!</span>
								</div>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="thumb-description">
							<div class="caption">
								<div class="desc-inner">
									<h4 class="product-title">
										<a href="">Samsung TV</a>
									</h4>
									<div class="price">
										<span class="price-new">$86.00</span> <span class="price-old">$98.00</span>
										<span class="price-tax">Ex Tax: $70.00</span>
									</div>

									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
									<p class="description hidden">Engineered with pro-level
										features and performance, the 12.3-effective-megapixel D300
										combines brand new technologies with advanced features
										inherited from Nikon&#39;s newly..</p>
								</div>
							</div>
							<div id="countdown_31" class="item-countdown aa"
								data-date="2022-07-10"></div>
						</div>
						<script type="text/javascript">
							jQuery(document)
									.ready(
											function($) {
												$(".item-countdown")
														.each(
																function() {
																	var date = $(
																			this)
																			.data(
																					'date');
																	$(this)
																			.lofCountDown(
																					{
																						TargetDate : date,
																						DisplayFormat : "<div>%%D%% <span>Days</span></div><div>%%H%% <span>Hours</span></div><div>%%M%% <span>Min</span></div><div>%%S%% <span>Sec</span></div>"
																					});
																});
											});
						</script>
					</div>
				</div>
				<div class="product-layout  col-xs-12">
					<div class="product-thumb transition">
						<div class="image countdown-images">
							<div class="special-image">
								<a href=""> <img
									src="/assets/user/image/cache/catalog/products/8-266x266.jpg" alt="iPhone"
									title="iPhone" class="img-responsive" /> <img
									class="img-responsive hover-img"
									src="/assets/user/image/cache/catalog/products/9-266x266.jpg"
									title="iPhone" alt="iPhone" />
								</a>
								<div class="sale-text">
									<span class="section-sale">On Sale!</span>
								</div>
								<div class="button-group">
									<button type="button" class="wishlist" data-toggle="tooltip"
										title="Add To WishList" onclick="wishlist.add('36');">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" data-toggle="tooltip"
										class="quickview-button" title="Quickview"
										onclick="quickView.ajaxView('?route=product/quickview&product_id=36');">
										<i class="fa fa-eye"></i>
									</button>
									<button type="button" class="compare" data-toggle="tooltip"
										title="Add To Compare" onclick="compare.add('36');">
										<i class="fa fa-exchange"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="thumb-description">
							<div class="caption">
								<div class="desc-inner">
									<h4 class="product-title">
										<a href="">iPhone</a>
									</h4>
									<div class="price">
										<span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
										<span class="price-tax">Ex Tax: $90.00</span>
									</div>

									<div class="rating">
										<span class="fa fa-stack"><i
											class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span> <span
											class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
											class="fa fa-star-o fa-stack-2x"></i></span>
									</div>

									<button type="button" class="addcart" title="Add to Cart"
										onclick="">Add to Cart</button>
									<p class="description hidden">Video in your pocket. Its the
										small iPod with one very big idea: video. The worlds most
										popular music player now lets you enjoy movies, TV shows, and
										more on a two-inc..</p>
								</div>
							</div>
							<div id="countdown_36" class="item-countdown aa"
								data-date="2022-07-10"></div>
						</div>
						<script type="text/javascript">
							jQuery(document)
									.ready(
											function($) {
												$(".item-countdown")
														.each(
																function() {
																	var date = $(
																			this)
																			.data(
																					'date');
																	$(this)
																			.lofCountDown(
																					{
																						TargetDate : date,
																						DisplayFormat : "<div>%%D%% <span>Days</span></div><div>%%H%% <span>Hours</span></div><div>%%M%% <span>Min</span></div><div>%%S%% <span>Sec</span></div>"
																					});
																});
											});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		deal();
	});
	function deal() {
		const additional1 = $('html').attr('dir');

		$('.special-count-carousel').each(
				function() {
					// if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
					$(this).addClass('owl-carousel owl-theme');
					const items = $(this).data('items') || 1;
					const sliderOptions = {
						loop : false,
						nav : true,
						navText : [ '<i class="fa fa-caret-left"></i>',
								'<i class="fa fa-caret-right"></i>' ],
						dots : false,
						items : items,
						responsiveRefreshRate : 200,
						responsive : {
							0 : {
								items : 1
							},
							481 : {
								items : ((items + 1) > 1) ? (items + 1) : 1
							},
							601 : {
								items : ((items + 2) > 1) ? (items + 2) : 1
							},
							992 : {
								items : items
							}
						}
					};
					if (additional1 == 'rtl')
						sliderOptions['rtl'] = true;
					$(this).owlCarousel(sliderOptions);
					// }
				});
	}
</script>