<div class="news mt-30">
	<div class="newsletterblock">
		<div class="newsletter-form">
			<div class="page-title">
				<h3>Newsletter</h3>
			</div>
			<div class="block-content">
				<div class="news-info">
					<div class="news-dec">
						<i class="fa fa-paper-plane"></i>
						<div class="title-text">Sign Up & Get News</div>
						<div class="news-description">Subscribe to our newsletters
							now and stay up to date with new collections and exclusive
							offers.</div>
					</div>
				</div>
				<!-- newsletter box -->
				<form name="frmnewsletter" id="frmnewsletter" method="post">
					<div class="subscribe-form">
						<input type="email" name="newsletter_usr_email"
							id="newsletter_usr_email" placeholder="Enter e-mail here..."
							class="form-control input-lg inputNew txtemail" required>
						<button type="submit" class="subscribe-btn">Subscribe</button>
					</div>
					<!-- newsletter notofication -->
					<div class="newsletter-message"></div>
					<!-- newsletter notofication -->
				</form>
				<!-- newsletter box -->
			</div>
		</div>
	</div>
</div>