<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<th:block id="breadcums">
		<ul class="breadcrumb">
			<li><a th:href="@{/index}">Trang chủ</a></li>
			<li><a>Liên hệ</a></li>
		</ul>		
	</th:block>
	<th:block id="aside">
		<div th:replace="/user/account/account_aside"></div>
	</th:block>

	<main>
		<div th:replace="/user/contact/contact_detail.html"></div>
	</main>

</body>
<th:block id="material">
	<script src="/assets/user/javascript/detail-product.js"></script>
	<script src="/assets/user/angular/favorite-app.js"></script>
</th:block>
</html>