<div id="content" class="col-sm-9">
	<h1 class="page_title title">Contact Us</h1>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="contact-title">Our Location</h3>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-left">
			<div class="content-details">
				<div class="location-info">
					<div class="location-title title">
						<i class="fa fa-home"></i>Địa Chỉ
					</div>
					<div class="content-address">Trường Cao Đẳng FPT Polytecnich
						Công viên phần mềm, Toà nhà Innovation lô 24, Quang Trung, Quận 12, Thành phố Hồ Chí Minh</div>
					<a
						href="https://goo.gl/maps/12bp9R8RT7GW3DwF7"
						target="_blank" class="btn btn-info"><i
						class="fa fa-map-marker"></i> Đi Đến Map</a>
				</div>
				<div class="phone-info">
					<div class="phone-title title">
						<i class="fa fa-mobile"></i>Số Điện Thoại
					</div>
					<div class="content-number">0786985200</div>
				</div>
				
				<div class="openstore-info">
					<div class="open-title title">
						<i class="fa fa-clock-o"></i>Opening Times
					</div>
					<div class="openstore-detail">9:00 AM To 9:00 PM</div>
				</div>
				<div class="comment-info">
					<div class="comment-title title">
						<i class="fa fa-comments-o"></i>Comments
					</div>
					<div class="comment-detail">Demo Comment Description from
						Store Owners.</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 contact-right">
			<form
				action="https://opencart.mahardhi.com/MT05/ecart/02/index.php?route=information/contact"
				method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<legend>Contact Form</legend>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name">Tên
							</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="" id="input-name"
								class="form-control">
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-email">Gmail
							</label>
						<div class="col-sm-10">
							<input type="text" name="email" value="" id="input-email"
								class="form-control">
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-enquiry">Mô tả</label>
						<div class="col-sm-10">
							<textarea name="enquiry" rows="10" id="input-enquiry"
								class="form-control"></textarea>
						</div>
					</div>

				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-right">
						<input class="btn btn-primary" type="submit" value="Gửi">
					</div>
				</div>
			</form>
		</div>

	</div>
</div>